@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"] header p,
[epub|type~="z3998:letter"] footer p,
[epub|type~="z3998:letter"] header + p,
.newspaper header + p{
	text-indent: 0;
}

.newspaper header p{
	text-indent: 0;
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] blockquote{
	display: inline-block;
	margin: 5em auto;
	text-align: left;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

abbr.name{
	white-space: nowrap;
}

b{
	font-weight: normal;
	font-variant: all-small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

.signature{
	font-variant: small-caps;
}
